:root {
    --bg-button: #1f2124;
    --border-button: solid 1px #121214;
}

.button {
    color: #fff;
    font-size: 1.7em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;

}

.button:active{
    background-color: #171718;
}

.button.double{
    grid-column: span 2;
}
.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: #fa8231;
}
.button.operation:active{
    background-color: #fa8231cc;
}